---
import { Icon } from 'astro-icon/components';

interface Item {
  url: string;
  title: string;
}

interface Props {
  items: Item[];
}

const { items }: Props = Astro.props;
---

<script>
  const button = document.querySelector("button#menu");
  const dropdown = document.querySelector("div#dropdown");

  console.log(button, dropdown);

  button.addEventListener("click", () => {
    dropdown.classList.toggle("hidden");
  });
</script>

<div class="mx-auto max-w-screen-sm px-4 text-sm font-medium">
  <div class="flex flex-wrap items-center justify-between gap-4 py-4">
    <a href="/">ztz0</a>
    <div class="md:hidden">
      <button id="menu" class="text-tx-normal hover:text-tx-accent-hover">
        <Icon name="lucide:menu" class="w-4 h-4" />
      </button>
      <div id="dropdown" class="hidden absolute right-4 mt-4 w-48 bg-bg-secondary shadow-lg rounded-md">
        <div class="flex flex-col gap-2">
          {items.map((item: Item) => {
            if (
              item.url.replace("/", "") === Astro.url.pathname.replace("/", "")
            ) {
              return (
                <div class="text-tx-accent-hover pointer-events-none px-4 py-2">{item.title}</div>
              );
            }

            return (
              <a href={item.url} class="block px-4 py-2 hover:text-tx-accent-hover">
                {item.title}
              </a>
            );
          })}
        </div>
      </div>
    </div>
    <div class="hidden md:flex items-center gap-2 md:gap-4">
      {
        items.map((item: Item) => {
          if (
            item.url.replace("/", "") === Astro.url.pathname.replace("/", "")
          ) {
            return (
              <div class="text-tx-accent-hover pointer-events-none">{item.title}</div>
            );
          }

          return (
            <a href={item.url} class="hover:text-tx-accent-hover">
              {item.title}
            </a>
          );
        })
      }
    </div>
  </div>
</div>

<style>
@media (max-width: 768px) {
  .dropdown {
    display: none;
  }
}
</style>