---
import Slugger from "github-slugger";
import { getCollection } from "astro:content";
import WriteupLayout from "../../../../layouts/WriteupLayout.astro";
import { render } from "astro:content";

export async function getStaticPaths() {
    const eventCollections = await getCollection('eventYears');
    const paths = eventCollections.map((event) => {
        const slugs = event.id.split('/').slice(0, -1);
        return {
            params: {
              event: slugs[0],
              year: slugs[1]
            }
        };
    });
    
    return paths;
}

const eventCollections = await getCollection('eventYearChallenges', ({ id }) => id.split('/')[0] === Astro.params.event && id.split('/')[1] === Astro.params.year);
const events = new Array();

for (const event of eventCollections) {
  events.push(await render(event));
};

const [ eventYear ] = await getCollection('eventYears', ({ id }) => id.split('/')[0] === Astro.params.event && id.split('/')[1] === Astro.params.year);

const slugger = new Slugger();

const headings = events.flatMap((event) => {
  event.headings = [
    {
      depth: 2,
      slig: `user-content-${slugger.slug(event.remarkPluginFrontmatter.title)}`,
      text: event.remarkPluginFrontmatter.title
    },
    ...event.headings
  ];
  return event.headings
});

slugger.reset();

console.log(headings);
---

<WriteupLayout title={eventYear.data.title}>
  <h1 class="text-4xl font-bold">{eventYear.data.title}</h1>
  {
    [...events].map((event) => (
      <h2 id={`user-content-${slugger.slug(event.remarkPluginFrontmatter.title)}`}>{event.remarkPluginFrontmatter.title}</h2>
      <div class="not-prose flex flex-col gap-y-4 border p-4 rounded-md border-flexoki-base-100 dark:border-flexoki-base-900">
        <div class="flex flex-col divide-y">
          <div class="flex gap-x-2 py-2 first:pt-0 last:pb-0 border-flexoki-base-100 dark:border-flexoki-base-900">
            <div class="flex-1">
              Category
            </div>
            <div class="flex-1">
              <p>{event.remarkPluginFrontmatter.category}</p>
            </div>
          </div>
          <div class="flex gap-x-2 py-2 first:pt-0 last:pb-0 border-flexoki-base-100 dark:border-flexoki-base-900">
            <div class="flex-1">
              Tags
            </div>
            <div class="flex-1">
              <p>{event.remarkPluginFrontmatter.tags}</p>
            </div>
          </div>
          <div class="flex gap-x-2 py-2 first:pt-0 last:pb-0 border-flexoki-base-100 dark:border-flexoki-base-900">
            <div class="flex-1">
              Flag
            </div>
            <div class="flex-1 blur-sm hover:blur-none transition-[filter] duration-200 break-all">
              <p>{event.remarkPluginFrontmatter.flag}</p>
            </div>
          </div>
        </div>
      </div>
      <event.Content />
    ))
  }
</WriteupLayout>

<style>
  .prose > img {
    @apply rounded-md
  }
</style>