---
import '../styles/global.css';
import Breadcrumb from '../components/Breadcrumb.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Head from '../components/Head.astro';
import ScrollToTop from '../components/ScrollToTop.astro';

interface Props {
  title: string;
  description?: string;
}

const {
  title,
  description = 'Software Engineer and CTF Player from Tangerang, Indonesia',
} = Astro.props as Props;

const navItems = [
  {
    url: '/',
    title: 'Home',
  },
  {
    url: '/writeups',
    title: 'Writeups',
  },
  {
    url: '/projects',
    title: 'Projects',
  },
];

const footerItems = [
  {
    url: 'mailto:muhzib36@gmail.com',
    title: 'Contact',
    iconName: 'lucide:mail',
  },
  {
    url: 'https://www.youtube.com/channel/ZTzTopia702',
    title: 'YouTube',
    iconName: 'lucide:youtube',
  },
  {
    url: 'https://github.com/ZTzTopia',
    title: 'GitHub',
    iconName: 'lucide:github',
  },
  {
    url: 'https://www.linkedin.com/in/muhamad-zibrisky-b6a861252/',
    title: 'LinkedIn',
    iconName: 'lucide:linkedin',
  },
];

let paths = Astro.url.pathname.split('/').map((path, index, paths) => {
  if (index === 0) {
    return {
      label: 'Home',
      href: '/',
    };
  }

  if (index === paths.length - 1) {
    return {
      label: decodeURIComponent(path),
      href: Astro.url.pathname,
    };
  }

  return {
    label: decodeURIComponent(path),
    href: paths.slice(0, index + 1).join('/'),
  };
});

paths = paths.filter((path) => path.label !== '');
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={title} description={description} />

    <style is:global>
      [id] {
        scroll-margin-top: 5rem;
      }
    </style>
  </head>
  <body
    class="bg-flexoki-light-bg dark:bg-flexoki-dark-bg text-flexoki-light-tx dark:text-flexoki-dark-tx antialiased"
  >
    <div class="flex flex-col gap-y-2 min-h-screen">
      <Header items={navItems} />

      <div class="flex-grow">
        {
          paths.length !== 1 && (
            <Breadcrumb
              items={paths}
              class="flex flex-col p-4 mx-auto max-w-screen-md"
            />
          )
        }
        <slot />
      </div>

      <ScrollToTop />
      <Footer items={footerItems} />
    </div>
  </body>
</html>
